/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------- GRID -----------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/

                                                        /* INICIO */
.gridContainer {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "main  mainE  mainE"
    "main  mainE1  mainE1"
    "carroussel carroussel carroussel"  
    "footer  footer  footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: 4rem 15rem 10rem auto auto;
}

.header {
    background-color: $azulClaro;
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main {
    background-color: $azulClaro;
    grid-area: main;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainE {
    background-color: $azulClaro;
    grid-area: mainE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainE1 {
    background-color: $azulClaro;
    grid-area: mainE1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carroussel {
    background-color: $azulClaro;
    grid-area: carroussel;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: $purpura;
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: justify;
}

/* OTRAS PÁGINAS */

.gridContainerMdc {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "mainMdc  mainMdc  mainMdc" 
    "footer  footer  footer";
    grid-template-rows: auto 29rem auto;
    grid-template-columns: auto auto auto;
}

.gridContainerServicios {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "mainServicios  mainServicios  mainServicios" 
    "footer  footer  footer";
    grid-template-rows: auto 36.5rem auto;
    grid-template-columns: auto auto auto;
}    

.gridContainerFaq {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "mainFaq  mainFaq  mainFaq" 
    "footer  footer  footer";
    grid-template-rows: auto 35rem auto;
    grid-template-columns: auto auto auto;
}    

.gridContainerContacto {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "mainContacto  mainContacto  mainContacto" 
    "footer  footer  footer";
    grid-template-rows: auto 35rem auto;
    grid-template-columns: auto auto auto;
}