@charset "UTF-8";
/* UTILITIES */
/* VARIABLES */ /* MAPS */ /* MIXIN */
/* BASE */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* LAYOUT */
.navbar ul li a:hover {
  background-color: #3396d3;
  border-radius: 8px;
  transition: background-color, box-shadow 0.5s;
  box-shadow: 0px 1px 10px;
}

.info {
  width: 25rem;
  padding-top: 2rem;
  text-align: justify;
  padding-top: 2rem;
}
.info h3 {
  transform: translateX(4rem);
}
.info p {
  font-size: 0.9375em;
  font-weight: normal;
  color: white;
  line-height: 2;
  list-style-type: none;
  transform: translateX(-2rem);
}

.contacto {
  width: 22rem;
  padding-top: 2rem;
}
.contacto h3 {
  transform: translateX(4rem);
}
.contacto .listaContacto {
  line-height: 2;
  list-style-type: none;
  transform: translateX(-2rem);
}

.redes {
  padding-top: 2rem;
}
.redes .red_fb, .redes .red_ws, .redes .red_ig {
  width: 7.3rem;
  height: 5.3rem;
  padding-right: 1.75rem;
}
.redes .red_fb:hover, .redes .red_ws:hover, .redes .red_ig:hover {
  filter: invert(36%) sepia(71%) saturate(456%) hue-rotate(181deg) brightness(96%) contrast(97%);
}
.redes .red_ig:hover {
  filter: invert(27%) sepia(91%) saturate(1327%) hue-rotate(295deg) brightness(89%) contrast(90%);
}
.redes .red_ws:hover {
  filter: invert(44%) sepia(30%) saturate(984%) hue-rotate(124deg) brightness(94%) contrast(98%);
}

div h3 {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
}
div ul li {
  font-size: 0.9375em;
  font-weight: normal;
  color: white;
}

.tituloF {
  color: white;
  font-size: 1.25em;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------- GRID -----------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
/* INICIO */
.gridContainer {
  display: grid;
  grid-template-areas: "header  header  header" "main  mainE  mainE" "main  mainE1  mainE1" "carroussel carroussel carroussel" "footer  footer  footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: 4rem 15rem 10rem auto auto;
}

.header {
  background-color: #99d4e7;
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main {
  background-color: #99d4e7;
  grid-area: main;
  display: flex;
  justify-content: space-evenly;
  align-items: space-around;
}

.mainE {
  background-color: #99d4e7;
  grid-area: mainE;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mainE1 {
  background-color: #99d4e7;
  grid-area: mainE1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.carroussel {
  background-color: #99d4e7;
  grid-area: carroussel;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  background-color: #5457a1;
  grid-area: footer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: justify;
}

/* OTRAS PÁGINAS */
.gridContainerMdc {
  display: grid;
  grid-template-areas: "header  header  header" "mainMdc  mainMdc  mainMdc" "footer  footer  footer";
  grid-template-rows: auto 29rem auto;
  grid-template-columns: auto auto auto;
}

.gridContainerServicios {
  display: grid;
  grid-template-areas: "header  header  header" "mainServicios  mainServicios  mainServicios" "footer  footer  footer";
  grid-template-rows: auto 65.5rem auto;
  grid-template-columns: auto auto auto;
}

.gridContainerFaq, .gridContainerContacto {
  display: grid;
  grid-template-areas: "header  header  header" "mainFaq  mainFaq  mainFaq" "footer  footer  footer";
  grid-template-rows: auto 35rem auto;
  grid-template-columns: auto auto auto;
}

.gridContainerContacto {
  grid-template-areas: "header  header  header" "mainContacto  mainContacto  mainContacto" "footer  footer  footer";
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------MAIN--------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
/* INICIO */
.oso {
  width: 40rem;
  padding-left: 40%;
}

.hola, .envios {
  width: 35rem;
  padding-right: 20%;
}

.pics {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 70%;
  padding: 1rem;
}

.photo {
  height: 23rem;
  width: 46rem;
}

/* MÉTODO DE COMPRA */
.mainMdc {
  grid-area: mainMdc;
  background-color: white;
  padding: 0;
}
.mainMdc div section {
  width: 40rem;
  line-height: 1.8;
}
.mainMdc .grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 46rem auto auto auto;
}
.mainMdc .grid .imagen {
  width: 82%;
}
.mainMdc .grid .gridMetodo {
  margin-left: 2.5rem;
  padding-top: 2rem;
}
.mainMdc .grid .gridMetodo h3 {
  color: black;
}
.mainMdc .grid .metodo ol li {
  list-style-type: decimal;
  margin-left: 1rem;
}

/* SERVICIOS */
.mainServicios {
  grid-area: mainServicios;
  background-color: white;
  height: 10rem;
  padding-left: 7rem;
  padding-right: 3.5rem;
}
.mainServicios .heading h1 {
  margin: 1%;
}
.mainServicios .products:hover {
  box-shadow: 0px 1px 10px;
  transition: box-shadow 0.5s;
  transform: scale(1.075);
  transition: transform 0.7s;
}

/* FAQ */
.mainFaq {
  grid-area: mainFaq;
}
.mainFaq h1 {
  margin-left: 1rem;
}

/* CONTACTO */
.mainContacto {
  grid-area: mainContacto;
}
.mainContacto h1 {
  transform: translateY(1rem);
}

.mapa {
  margin: 2rem;
  height: 75%;
  width: 75%;
}

.gridContacto {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 37.5rem auto;
  justify-content: stretch;
  align-items: center;
  transform: translateY(-5rem);
}

/*------------------------------------------------------*/
/*-----------------------CELULAR------------------------*/
/*------------------------------------------------------*/
@media screen and (min-width: 360px) and (max-width: 1024px) {
  html, body {
    overflow-x: hidden;
  }
  .footer {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  /* INICIO */
  .gridContainer {
    grid-template-rows: auto auto auto 15rem auto;
    grid-template-columns: 100%;
    grid-template-areas: "header" "mainE" "mainE1" "carroussel" "footer";
  }
  .main, .info, .real,
.gridMetodo h3, .gridMetodo ol {
    display: none;
  }
  .hola, .envios {
    padding-left: 6rem;
  }
  .pics {
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 60%;
    margin: 1.5rem;
  }
  .photo {
    height: 13rem;
    width: 26rem;
  }
  /* MÉTODO DE COMPRA */
  .gridContainerMdc {
    grid-template-rows: auto auto 23.5rem;
    grid-template-columns: 100%;
    grid-template-areas: "header" "mainMdc" "footer";
  }
  .gridMetodo {
    font-size: small;
    text-align: center;
  }
  .mainMdc .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .mainMdc .grid img {
    margin-top: 2%;
  }
  /* SERVICIOS */
  .gridContainerServicios {
    grid-template-rows: auto 160rem auto;
    grid-template-columns: 100%;
    grid-template-areas: "header" "mainServicios" "footer";
  }
  .mainServicios .heading h1 {
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  /* FAQ */
  .gridContainerFaq, .gridContainerContacto {
    grid-template-rows: auto auto 23.5rem;
    grid-template-columns: 100%;
    grid-template-areas: "header" "mainFaq" "footer";
  }
  /* CONTACTO */
  .gridContainerContacto {
    grid-template-areas: "header" "mainContacto" "footer";
  }
  .gridContacto {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-content: stretch;
    align-items: center;
    transform: translateY(3rem);
  }
  .gridContacto .mapa {
    overflow: scroll;
    width: 75%;
  }
}/*# sourceMappingURL=style.css.map */