 /* MAPS */
 $redes: (whatsapp: invert(44%) sepia(30%) saturate(984%) hue-rotate(124deg) brightness(94%) contrast(98%),
 facebook: invert(36%) sepia(71%) saturate(456%) hue-rotate(181deg) brightness(96%) contrast(97%),
 instagram: invert(27%) sepia(91%) saturate(1327%) hue-rotate(295deg) brightness(89%) contrast(90%));

$colores:  (azulClaro: #99d4e7,
azulFuerte: #3396d3,
purpura: #5457a1);