/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------- GRID -----------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
/* INICIO */
.gridContainer {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "main  mainE  mainE"
    "main  mainE1  mainE1"
    "carroussel carroussel carroussel"  
    "footer  footer  footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: 4rem 15rem 10rem auto auto;
}

.header {
    @include grid(header, center);
}

.main {
    @include grid(main, space-around);
}

.mainE {
    @include grid(mainE, center);
}

.mainE1 {
    @include grid(mainE1, center);
}

.carroussel {
    @include grid(carroussel, center);
}

.footer {
    background-color: map-get($colores, purpura);
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: justify;
}

/* OTRAS PÁGINAS */

.gridContainerMdc {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "mainMdc  mainMdc  mainMdc" 
    "footer  footer  footer";
    grid-template-rows: 4rem 29rem auto;
    grid-template-columns: auto auto auto;
}

.gridContainerServicios {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "mainServicios  mainServicios  mainServicios" 
    "footer  footer  footer";
    grid-template-rows: 4rem 68.5rem auto;
    grid-template-columns: auto auto auto;
}    

.gridContainerFaq {
    display: grid;
    grid-template-areas: 
    "header  header  header"
    "mainFaq  mainFaq  mainFaq" 
    "footer  footer  footer";
    grid-template-rows: 4rem 35rem auto;
    grid-template-columns: auto auto auto;
}    

.gridContainerContacto {
    @extend .gridContainerFaq;
    grid-template-areas: 
    "header  header  header"
    "mainContacto  mainContacto  mainContacto" 
    "footer  footer  footer";
}