/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------MAIN--------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/

                                            /* INICIO */
.oso {
    width: 40rem;
    padding-left: 40%;
    }
    
.hola {
    width: 35rem;
    padding-right: 20%;
}
    
.envios {
    @extend .hola;
}
    
.pics {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 70%;
    padding: 1rem;
}

.photo {
    height: 23rem;
    width: 46rem;
}

/* MÉTODO DE COMPRA */

.mainMdc{
    grid-area: mainMdc;
    background-color: white;
    padding: 0;

    div section {
        width: 40rem;
        line-height: 1.8;
    }

    .grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 46rem auto auto auto;
        
        .imagen {
            width: 98%;
        }

        .gridMetodo {
            margin-left: 2.5rem;
            padding-top: 2rem;

            h3 {
                color: black;
            }
        }

        .metodo ol li {
            list-style-type: decimal;
            margin-left: 1rem;
        }
    }
}

/* SERVICIOS */

.mainServicios {
    grid-area: mainServicios;
    background-color: white;
    padding-left: 7rem;
    padding-right: 3.5rem;

    .heading h1 {
        margin: 1%;
    }

    .products {
        &:hover {
            box-shadow: $sombra;
            transition: box-shadow 0.5s;
            transform: scale(1.075);
            transition: transform 0.7s;
        }
    }
}

/* FAQ */

.mainFaq{
    grid-area: mainFaq;

    h1 {
        margin-left: 1rem;
    }
}

/* CONTACTO */

.mainContacto{
    grid-area: mainContacto;

    h1{
        transform: translateY(1rem);
    }
}

.mapa {
    margin: 2rem;
    height: 75%;
    width: 75%;
}

.gridContacto {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 37.5rem auto;
    justify-content: stretch;
    align-items: center;
    transform: translateY(-5rem);
}

